torch
torchvision
Pillow
numpy
lightning
pydantic
pytest
lenses
tensorboardX
tensorboard
crc32c
matplotlib

# Temporary for the data and back bone only
python-doctr[torch]
python-doctr
rapidfuzz==2.15.1
